.Stat_frame {
  min-width: 200px;
  background-color: #FBFBFB;
  display: flex;
  align-items: center;
  padding: 32px;
  border-radius: 5px;
}

@media screen and (max-width: 1439px) {
  .Stat_frame {
    flex: 1;
  }
}

.stat_iconFrame {
  height: 60px;
  width: 60px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.stat_value {
  font-weight: bold;
  font-size: 20px;
}

.stat_label {
  color: #74798C;
  font-size: 14px;
}
